@import "tailwindcss";

:root {
  --background: #efe8db;
  --foreground: #212121;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-orange-50: oklch(0.9752 0.0134 60.57);
  --color-orange-100: oklch(0.9428 0.0306 61.11);
  --color-orange-200: oklch(0.8781 0.0623 55.75);
  --color-orange-300: oklch(0.7982 0.1042 51.79);
  --color-orange-400: oklch(0.6873 0.1639 43.71);
  --color-orange-500: oklch(0.6505 0.1842 39.6);
  --color-orange-600: oklch(0.5973 0.1912 35.18);
  --color-orange-700: oklch(0.5147 0.1697 32.9);
  --color-orange-800: oklch(0.441 0.1396 30.95);
  --color-orange-900: oklch(0.3841 0.1133 30.77);
  --color-orange-950: oklch(0.2507 0.073 28.36);
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  4% {
    opacity: 0.4;
  }
  6% {
    opacity: 1;
  }
  7% {
    opacity: 0.6;
  }
  8% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  54% {
    opacity: 0.8;
  }
  56% {
    opacity: 1;
  }
}

.tv-screen {
  animation: flicker 4s infinite;
  box-shadow: 0 0 20px 8px rgba(150, 200, 255, 0.4),
    0 0 60px 20px rgba(150, 200, 255, 0.15);
}

.tv-screen-2 {
  animation: flicker 5s infinite 1.2s;
  box-shadow: 0 0 20px 8px rgba(150, 200, 255, 0.4),
    0 0 60px 20px rgba(150, 200, 255, 0.15);
}

.tv-screen-3 {
  animation: flicker 3.5s infinite 0.7s;
  box-shadow: 0 0 20px 8px rgba(150, 200, 255, 0.4),
    0 0 60px 20px rgba(150, 200, 255, 0.15);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background-color: var(--foreground);
}
